<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--<script type="text/javascript" src="Resources/angular.min"></script>-->
<body>
	<div ng-app="appLogin" ng-controller="loginCtrl">
		<h1>{{user}}</h1>
		<h1>{{usuario.apellido}}</h1>
		<input type="text" ng-model="tbusuario">
		<input type="text" ng-model="tbpass">
		<button ng-click="ValidarUsuario(tbusuario, tbpass)">Prueba</button>
	</div>

<script src="Login/ModelLogin.js"></script>
<script src="Login/servicioLogin.js"></script>
<script src="Login/ControladorLogin.js"></script>


</body>
</html>